.footer {
    background-color: #052E56;
    h2{
        font-size: 30px;
        line-height: 36px;
        font-weight: bold;
    }
    .instagram-container, .facebook-container, .youtube-container{
        background-color: #191970;
    }
    .contact{
        address{
            a{
                color:#61B57E;
            }
        }
    }
}