.socialBar {
  background-color: #052e56;
  color: white;
  display: flex;
  height: 45px;
  justify-content: right;
  align-items: center;


  .content-wrapper {
    display: flex;
    margin-right: 80px;

    .socialIconsContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          font-size: 18px;
          margin-left: 15px;
          cursor: pointer;
          color: white;
          text-decoration: none;
        }
      }
    }

    .selected-language {
      margin-left: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .dropdown {
        cursor: pointer;
        font-size: 15px;
      }

      img {
        height: 15px;
        border-radius: 10px;
      }
    }
  }
}
