.button {
    width: 200px;
    margin: 30px 0 30px 170px;
    border-radius: 30px;
    background-color: #052e56;
    color: white;
    border: none;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-image: linear-gradient(
        to right,
        rgba(81, 179, 221, 1), 
        rgba(245, 199, 100, 1) 
      );
    }

  }